/* CSS for the logo */
.Title{
    position: relative;
}

.Title h2 {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 2em;
    margin-left: -0.4em;
    
}

.Title h2:nth-child(1) {
    
    color: transparent;
    -webkit-text-stroke: 1px  #e8de6f ;
}

.Title h2:nth-child(2) {
    
    color:  #006781;
    animation: animate 4s ease-in-out infinite;
}



/* animation for the logo */
@keyframes animate 
{
    0%,100%
    {
        clip-path: polygon(1% 47%, 18% 44%, 35% 49%, 50% 61%, 68% 65%, 84% 64%, 100% 57%, 100% 100%, 0% 100% );
    }
    50%
    {
        clip-path: polygon(0 66%, 16% 70%, 34% 64%, 50% 52%, 66% 47%, 85% 47%, 100% 53%, 100% 100%, 0% 100% );
    }

}
