
/* CSS for the logo */
.Title{
    position: relative;
}

.Title h2 {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 2em;
    margin-left: -0.4em;
    
}

.Title h2:nth-child(1) {
    
    color: transparent;
    -webkit-text-stroke: 1px  #e8de6f ;
}

.Title h2:nth-child(2) {
    
    color:  #006781;
    animation: animate 4s ease-in-out infinite;
}



/* animation for the logo */
@keyframes animate 
{
    0%,100%
    {
        clip-path: polygon(1% 47%, 18% 44%, 35% 49%, 50% 61%, 68% 65%, 84% 64%, 100% 57%, 100% 100%, 0% 100% );
    }
    50%
    {
        clip-path: polygon(0 66%, 16% 70%, 34% 64%, 50% 52%, 66% 47%, 85% 47%, 100% 53%, 100% 100%, 0% 100% );
    }

}



/* for Nav bar css */
/* VARIABLES */
:root{
    /* colors */
    --tab-color: #191919;
    --white-color: #fff;
    --home-color: #00f7ff;
    --recreation-color: #ff0000;
    --room-color: #adff2f;
    --restaurant-color: #ee82ee;
    --contact-color: #ffff00;

}

.nav{
    background-color: var(--tab-color);
    position: relative;
    height: 4em;

    
}
.nav_links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.nav_link li{
    color: var(--white-color);
    opacity: 0.5;

}


.nav_link.active li{
    opacity: 1;
}

/* home nav */
.nav_link.active li.pageName1 {
    color: var(--home-color);
    text-shadow: 0 0 15px var(--home-color),
                 0 0 30px var(--home-color),
                 0 0 45px var(--home-color),
                 0 0 60px var(--home-color);
}



/* recreation nav */
.nav_link.active li.pageName2 {
    color: var(--recreation-color);
    text-shadow: 0 0 15px var(--recreation-color),
                 0 0 30px var(--recreation-color),
                 0 0 45px var(--recreation-color),
                 0 0 60px var(--recreation-color);
}



/* room nav */
.nav_link.active li.pageName3 {
    color: var(--room-color);
    text-shadow: 0 0 15px var(--room-color),
                 0 0 30px var(--room-color),
                 0 0 45px var(--room-color),
                 0 0 60px var(--room-color);
}



/* restaurant nav */
.nav_link.active li.pageName4 {
    color: var(--restaurant-color);
    text-shadow: 0 0 15px var(--restaurant-color),
                 0 0 30px var(--restaurant-color),
                 0 0 45px var(--restaurant-color),
                 0 0 60px var(--restaurant-color);
}



/* contact nav */
.nav_link.active li.pageName5 {
    color: var(--contact-color);
    text-shadow: 0 0 15px var(--contact-color),
                 0 0 30px var(--contact-color),
                 0 0 45px var(--contact-color),
                 0 0 60px var(--contact-color);
}


